[Unit]
Description=brog a bootc management tool
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/brog
TimeoutStartSec=0
Environment=ENDPOINT=<change>
Environment=SCHEDULE="every 120 seconds"
Environment=BROG_PATH=/usr/bin:/usr/sbin

[Install]
WantedBy=default.target